@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.ttf") format("ttf");
}

body {
  color: #c0caf5;
  background: rgb(59, 57, 93);
  background: linear-gradient(
    163deg,
    rgba(10, 7, 61, 1) 0%,
    rgba(14, 14, 46, 1) 30%,
    rgba(1, 0, 28, 1) 100%
  );
  font-family: Roboto;
}

main {
  height: 100vh;
  margin-top: 100px;
}

.top {
  width: 100%;
  height: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.logo {
  display: block;
  max-width: 200px;
  margin: auto;
  font-size: 3em;
}

.logo-bg {
  padding: 10px;
  border-radius: 100px;
  background-color: #1a1a41;
}

.list {
  margin: auto;
  width: 40%;
}

.list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  border-radius: 10px;
  background-color: #1a1a41;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-top: 20px;
}
