<div class="h-26 shadow bg-accent-500 text-accent-100">
  <div class="h-full max-w-4xl lg:max-w-6xl mx-auto flex justify-between text-white">

    <a href="/" class="flex items-center space-x-4 px-4 py-3 relative z-10">
      <img class="h-14" src="/logo.svg" />
      <div class="font-bold hidden sm:block drop-shadow">
        <span class="text-4xl">A</span><span class="text-3xl">LIAS</span>
      </div>
    </a>

    <nav class="flex items-center gap-x-2 sm:gap-x-4">
      <div class="text-md space-x-4 flex items-center [&>a]:hover:underline underline-offset-4 [&>a]:hover:text-accent-100">
        <a href="/about">Qui sommes-nous ?</a>
        <a href="/projects">Projets</a>
        <a href="/blog">Blog</a>
        <a href="/services/local">Nous Contacter</a>
      </div>

      <a href="https://discord.gg/Qq6u8Mz" class="shadow flex items-center justify-center text-white bg-indigo-600 px-2 size-10 rounded-lg transform hover:scale-95">
        <img src="/discord.svg" />
      </a>

      <a href="https://www.instagram.com/alias.asso/" class="shadow flex items-center justify-center text-white bg-gradient-to-br from-purple-600 via-pink-600 to-orange-500 px-2 size-10 rounded-lg transform hover:scale-95">
        <img src="/instagram.svg" />
      </a>
    </nav>
  </div>
</div>

